.imgcss{
    height: 50%;
    width: 90%;
    padding-left: 15px;
    /* background: white; */
    /* background-color: rgb(179, 78, 78); */
    
  }

  .title {
    color: black;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: left; */
    text-align: left;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 600;
  }

  .allcard {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* margin-left: 50px; */
  }

  .remove {
    width: 250px;
    height: 50px;
    margin-left: 25px;
    font-size: 20px;
    color: white;
    background-color:#f14444;
    border: 1px solid red;
    border-radius: 6px;
  }

  .card {
    
    /*  */
    padding: 10px;
    border: none;
    border-radius: 10px;
    height: 600px;
    width: 300px;
    /* box-shadow: 0 1px 3px 0  #d4d4d5, 0 0 0 1px #f1f1f1; */
    box-shadow: 0px 0px 5px 1px rgb(182 146 233);
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: white;
    /* align-items: center; */
    
  }

  .totalPrice {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 5px;
    display: flex;
    float: left;
    margin-top: 20px;
  }

  /* .cardCnt {
    display: flex;
    flex-direction: row;
    float: left; 
  } */

  .total {
    color: #224957;
  }

  .purchase {
    background: #7064e5;
    border: 1px solid #7064e5;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    margin: auto;
    transition: all .3s ease-in-out;
  }

  .totalPriceTag {
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    left: .5rem;
    margin-right: 2rem;
    padding: 1.5rem;
    position: fixed;
    top: 30%;

    /* background-image: initial;
    background-color: rgb(32, 35, 36); */
    margin-left: 200px;
  }

  *{
    box-sizing: border-box;
  }
 